# Terraform
.terraform/
.terraform.*
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Plans / artifacts
tf.plan
*.tfplan
plan.json
bad-plan.json

# Vars/secrets
*.tfvars
*.tfvars.json

# OPA
*.rego~
*.test.out

# Editors/OS
.vscode/
.idea/
.DS_Store
